.DS_Store
.idea
data
*.pyc
.cache/
.coverage
doc/_build/
.ipynb_checkpoints
.pytest_cache/

# build artifacts
allennlp.egg-info/
.eggs/
build/
dist/
.mypy_cache
Experiments/
np3/
run.sh
outputs/
eval_per_epoch/
